In [1]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,加總 - Sales,Column Labels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Labels,Alberta,British Columbia,Manitoba,New Brunswick,Newfoundland,Northwest Territories,Nova Scotia,Nunavut,Ontario,Prince Edward Island,Quebec,Saskachewan,Yukon,Grand Total
3,Group1,1.70479e+06,1.89276e+06,1.37285e+06,684212,102924,800847,817729,116376,3.06321e+06,409383,1.5102e+06,1.46446e+06,975867,1.49156e+07
4,1/1/2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.36,NaN,872.48,NaN,NaN,1052.84